# Copy this over to .env before you fill it out!

# Get your Plaid API keys from the dashboard: https://dashboard.plaid.com/account/keys
PLAID_CLIENT_ID=64742608ef31e7001987c268
PLAID_SECRET=b2c6abfb01ca32784a14cc27121d5e

# Use 'sandbox' to test with fake credentials in Plaid's Sandbox environment
# Use 'development' to test with real credentials while developing
# Use 'production' to go live with real users
PLAID_ENV=sandbox


# (Optional) A URL for the webhook receiver running on port 8001. In the 
# tutorial, we'll use ngrok to expose this to the outside world.
WEBHOOK_URL=https://a9a6-2600-1700-f160-90b0-c53e-8835-497d-329b.ngrok-free.app  /server/receive_webhook
